<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web cats page </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <h3> Cats avalible: </h3>
    
    <form th:action="@{/cats/search}" method="get">
    	<input type="text" name="catName" id="catName" th:value="${catName}"/>
    	<input type="submit" value="Search"/>
    	 <a th:href="@{/cats/}" class="btn btn-outline-secondary">Return! </a>
	</form>
    
    
    <div th:if="${not #lists.isEmpty(cats)}">
	    <table class="table table-bordered">
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Photo </th>
				<th>Action</th>
			</tr>
			<tr>
			    <tr th:each="cat: ${cats}">
			        <td th:text="${cat.nickname}"/>
			        <td th:text="${cat.age}"/>
			        <td> 
			        	<img th:src="${cat.photo}"/ style="height:80px;">		        
			        </td>
			        <td>
			       		 <a th:href="@{/cats/edit/{id}(id=${cat.id})}" class="btn btn-outline-primary">
			  				  <span>Edit</span>
						 </a>
						 <a th:href="@{/cats/delete/{id}(id=${cat.id})}" class="btn btn-outline-danger">
			  				  <span>Delete</span>
						 </a>
			        </td>
		
			        
	  			</tr>
			</tr>
	    </table>
    </div>
    <div th:unless="${not #lists.isEmpty(cats)}">
    	<div class="card">
        <div class="card-body">
           No cats avalible at the moment.
       </div>
    </div>
    </div>
    
    <div>
	    <a th:href="@{/cats/add}" class="btn btn-outline-primary">Add cat! </a>
	</div>	
		

    </div>
</body>
</html>