<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web cats page </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <h3> Cats avalible: </h3>
    <table class="table table-bordered">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Action</th>
		</tr>
		<tr>
		    <tr th:each="cat: ${cats}">
		        <td th:text="${cat.id}"/>
		        <td th:text="${cat.nickname}"/>
		        <td>
		       		 <a th:href="@{/cat/edit/{id}(id=${cat.id})}" class="btn btn-outline-primary">
		  				  <span>Edit</span>
					 </a>
		        </td>
		        
  			</tr>
		</tr>
    </table>
    <div>
	    <a th:href="@{/cats/add}" class="btn btn-outline-primary">Add cat! </a>
	</div>	
		
    </div>
</body>
</html>